# server
PORT=4000
CORS_ORIGIN=http://localhost:3000
CLIENT_WEB_URL=http://localhost:3000
SERVER_BASE_URL=http://localhost:4000
SERVER_SUBDOMAIN=
JWT_SECRET=jwtsecretrgdflkdlalsf45hfhdse468

# bucket
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=auto
S3_ENDPOINT=

# database
REDIS_URL=
DATABASE_URI=
DATABASE_URI_READ_ONLY=

# secret header
HEADER_SECRET=your-header-secret

# payload
PAYLOAD_SECRET=